<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formular Mesaj</title>
    <link rel="stylesheet" href="path_to_your_styles.css" />
</head>

<body>
<h2>Formular Trimitere Mesaj</h2>
<form action="/mesaje" method="post">
    <div>
        <label for="id_doctor">ID Doctor:</label>
        <input type="text" id="id_doctor" name="id_doctor" required>
    </div>
    <div>
        <select id="id_pacient" name="id_pacient">
            <option th:each="pacient : ${pacienti}" th:value="${pacient.id}" th:text="${pacient.nume}"></option>
        </select>


            <!-- Aici vor apărea opțiunile pentru pacienți din baza de date -->
            <th:block th:each="pacient : ${pacienti}">
                <option th:value="${pacient.id}" th:text="${pacient.nume}"></option>
            </th:block>
        </select>
    </div>
    <div>
        <label for="mesajul_text">Mesaj:</label>
        <textarea id="mesajul_text" name="mesajul_text" required></textarea>
    </div>
    <div>
        <label for="data_trimiterii_mesajului">Data Trimiterii:</label>
        <input type="date" id="data_trimiterii_mesajului" name="data_trimiterii_mesajului" required>
    </div>
    <div>
        <button type="submit">Trimite Mesaj</button>
    </div>
</form>
</body>
</html>
