<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctors</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"> <!-- Optional: Include your CSS file here -->
</head>
<body>
<h1>Lista de Doctori</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Titlu</th>
        <th>Nume</th>
        <th>Prenume</th>
        <th>CNP</th>
        <th>Data nasterii</th>
        <th>Gen</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Departament</th>
        <th>Specializare</th>
        <th>Etaj</th>
        <th>Competente</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.idDoc}"></td>
        <td th:text="${doctor.titlu}"></td>
        <td th:text="${doctor.nume}"></td>
        <td th:text="${doctor.prenume}"></td>
        <td th:text="${doctor.cnp}"></td>
        <td th:text="${doctor.dataNasterii}"></td>
        <td th:text="${doctor.gen}"></td>
        <td th:text="${doctor.tel}"></td>
        <td th:text="${doctor.email}"></td>
        <td th:text="${doctor.departament}"></td>
        <td th:text="${doctor.specializare}"></td>
        <td th:text="${doctor.etaj}"></td>
        <td th:text="${doctor.competente}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
